.about {
  padding-top: rem(78px);

  @include tablets {
    padding-top: rem(60px);
  }
}

.about__headline {
  margin-bottom: rem(85px);

  @include tablets {
    margin-bottom: rem(50px);
  }
}

.about__content {
  margin-bottom: rem(15px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include tablets {
    display: flex;
    flex-direction: column;
    row-gap: rem(30px);
  }
}

.about__features {
  grid-column-start: 1;
  grid-column-end: 4;
}

.about__text-content {
  grid-column-start: 5;
  grid-column-end: -1;
}

.about__text {
  margin-bottom: rem(30px);
  margin-top: rem(20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition: height .3s;

  @include phones {
    row-gap: 15px;
  }
  
  @include tablets {
    margin-top: 0;    
  }

  .hidden {
    display: none;
  }
}

.about__image {
  max-width: rem(1035px);
  width: 90%;
  height: rem(390px);
  margin: 0 auto;
  position: relative;

  @include laptops {
    height: 30vw;
  }

  @include tablets {
    height: 36vw;
  }

  @include phones {
    height: 25vw;
  }
}

.about__pic {
  position: absolute;  
}