.button {
  background: $red;
  padding: rem(15px) rem(30px);
  color: white;
  font-size: rem(17px);
  line-height: rem(20px);
  font-weight: 700;
  text-align: center;
}

.button--color-transparent {
  background: transparent;
  padding: 0 rem(33px);
  color: $red;
  font-size: rem(20px);
  line-height: 1.3;
  font-weight: 400;
  position: relative;
}

.button--color-transparent:before {
  content: '';
  display: block;
  width: rem(21px);
  height: rem(21px);
  background: url(../svg/triangle.svg) center center no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-size-l {
  width: 100%;
  font-size: rem(20px);
  line-height: rem(23px);
  text-align: center;
  padding-top: rem(26px);
  padding-bottom: rem(26px);
}