.footer {
  padding-top: rem(20px);
  padding-bottom: rem(80px);
  
  @include tablets {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
}

.footer__container {
  width: 100%;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(30px);
  margin-bottom: rem(78px);

  @include laptops {
    flex-direction: column;
    row-gap: rem(50px);
    margin-bottom: rem(50px);
  }
  
  @include tablets {
    row-gap: rem(40px);
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100% / 2 - rem(30px));
}

.footer__map-img {
  width: 100%;
  min-height: rem(470px);
}

.footer__column:nth-child(1) {
  .footer__map-img {
    background: url(./images/map1.png) center center no-repeat;
    background-size: cover;
  }
}

.footer__column:nth-child(2) {
  .footer__map-img {
    background: url(./images/map2.png) center center no-repeat;
    background-size: cover;
  }
}

.footer__address {
  max-width: calc($container-max-width / 2 - rem(15px));

  @include laptops {
    max-width: 100%;
    margin-bottom: rem(20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer__address--left {
  align-self: flex-end;
  padding-left: 10px;

  @include laptops {
    align-self: flex-start;
  }
}

.footer__address--right {
  padding-right: 10px;
}

.footer__copyright {
  text-align: center;
  margin: 0 auto;

  @include tablets {
    max-width: 400px;
  }
}



