.header {
  height: rem(120px);
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  width: rem(350px);
}

.header__menu {
  .menu__list {
    column-gap: rem(40px);
  }
  margin-right: rem(44px);
  font-size: rem(17px);
  line-height: rem(20px);
}