.option {
  display: flex;
  flex-direction: column;
  position: relative;
}

.option::before {
  content: '';
  display: block;
  position: absolute;
  width: rem(20px);
  height: rem(27px);
  background: url(./svg/pin-vertical-grey.svg);
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 100;
}

.option:first-child::before {
  background: url(../svg/pin-vertical-red.svg);
  background-size: cover;
}

.option__border {
  left: 0;
  top: rem(13px);
  width: 100%;
  height: 1px;
  position: absolute;
  background: #DDDEE1;
}

.option__bg {
  flex-shrink: 0;
  width: rem(96px);
  height: rem(96px);
  border-radius: 50%;
  background: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(18px);
}

.option__img {
  width: rem(51px);
  height: rem(51px);
}

.option__text {
  margin-bottom: rem(16px);
}
