.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: rem(100px);
  padding-bottom: rem(100px);

  @include tablets {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
}

.section__headline {
  max-width: rem(898px);

  @include tablets {
    margin-bottom: rem(50px);
  }
}

.section__title {
  font-size: rem(64px);
  line-height: 1.15;

  @include tablets {
    font-size: rem(50px);
    margin-bottom: rem(35px);
  }

  @include phones {
    font-size: rem(35px);
  }
}

.section__subtitle {
  font-size: rem(24px);
  
  @include tablets {
    font-size: rem(22px);
  }
}