@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 4.5vmin;
  }
}

body {
  font-family: "raleway", helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: proportional-nums;
}

menu {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  width: 100%;
  resize: none;
  font-size: inherit;
  line-height: inherit;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  max-width: 1238px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.outer-container {
  height: 100%;
  max-width: 1622px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0.65rem;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  margin-right: auto;
  width: 350px;
  height: 44px;
  margin-right: 2.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0.75rem;
    width: 14rem;
    height: 1.75rem;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 15.5rem;
    height: 1.95rem;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    width: 14rem;
    height: 1.75rem;
  }
}

.header__menu {
  margin-left: auto;
  margin-right: 2.2rem;
  font-size: 0.85rem;
  line-height: 1rem;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu .menu__list {
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
@media screen and (max-width: 992px) {
  .header__menu .menu__list {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
}
@media screen and (max-width: 992px) {
  .header__menu {
    margin-right: 0.75rem;
  }
}

.button.header__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .button.header__button {
    padding: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  .button.header__button {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.5rem;
}

.menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.menu__link {
  color: inherit;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu__link:hover {
  color: #AD001B;
}

.button {
  background-color: #AD001B;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 0.85rem;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 1rem;
    padding: 1rem 1.75rem;
  }
}

.button:hover {
  background-color: #920016;
}

.button--color-transparent {
  background-color: transparent;
  padding: 0 1.65rem;
  color: #AD001B;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.button--color-transparent:hover {
  color: #920016;
  background-color: transparent;
}

.button--color-transparent:before {
  content: "";
  display: block;
  width: 1.05rem;
  height: 1.05rem;
  background: url(./svg/triangle.svg) center center no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.button-size-l {
  width: 100%;
  font-size: 1rem;
  line-height: 1.15rem;
  text-align: center;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section__headline {
  max-width: 44.9rem;
}
@media screen and (max-width: 768px) {
  .section__headline {
    margin-bottom: 2.5rem;
  }
}

.section__title {
  font-size: 3.2rem;
  line-height: 1.15;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2.5rem;
    margin-bottom: 1.75rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 1.75rem;
  }
}

.section__subtitle {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .section__subtitle {
    font-size: 1.1rem;
  }
}

.about {
  padding-top: 3.9rem;
}
@media screen and (max-width: 768px) {
  .about {
    padding-top: 3rem;
  }
}

.about__headline {
  margin-bottom: 4.25rem;
}
@media screen and (max-width: 768px) {
  .about__headline {
    margin-bottom: 2.5rem;
  }
}

.about__content {
  margin-bottom: 0.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
  }
}

.about__features {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

.about__text-content {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: -6;
  grid-column-end: -1;
}

.about__text {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
@media screen and (max-width: 480px) {
  .about__text {
    row-gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .about__text {
    margin-top: 0;
  }
}
.about__text .hidden {
  display: none;
}

.about__image {
  max-width: 51.75rem;
  width: 90%;
  height: 19.5rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 992px) {
  .about__image {
    height: 30vw;
  }
}
@media screen and (max-width: 768px) {
  .about__image {
    height: 36vw;
  }
}
@media screen and (max-width: 480px) {
  .about__image {
    height: 25vw;
  }
}

.about__pic {
  position: absolute;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  max-width: 12.5rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
    row-gap: 0;
    max-width: 100%;
  }
}

.features__item {
  padding: 1.05rem 0.85rem;
  position: relative;
}
@media screen and (max-width: 992px) {
  .features__item {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(33.3333333333% - 3rem);
            flex: 1 1 calc(33.3333333333% - 3rem);
    padding: 1.05rem 0.75rem;
  }
}

.features__item::before {
  content: "";
  display: block;
  background: url(./svg/triangle.svg) center center no-repeat;
  background-size: contain;
  width: 1.05rem;
  height: 1.05rem;
  position: absolute;
  left: 0;
  top: 0;
}

.vacancies {
  padding-top: 0;
  padding-bottom: 0;
}

.vacancies__outer-container {
  background: #F5F6F8;
  padding-top: 5rem;
  padding-bottom: 5.7rem;
}
@media screen and (max-width: 992px) {
  .vacancies__outer-container {
    padding-top: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .vacancies__outer-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.vacancies__title {
  margin-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
  .vacancies__title {
    margin-bottom: 1.25rem;
  }
}

.vacancies__headline {
  margin-bottom: 3.1rem;
  max-width: 43.85rem;
}
@media screen and (max-width: 768px) {
  .vacancies__headline {
    margin-bottom: 2.5rem;
  }
}

.vacancies__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 4rem 1.6rem;
}
@media screen and (max-width: 768px) {
  .vacancies__list {
    grid-row-gap: 2rem;
  }
}

.vacancy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9rem;
}

.vacancy__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vacancy__title {
  font-size: 1.2rem;
  line-height: 1.3;
  max-width: 10.75rem;
}

.vacancy__icon-bg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 5.2rem;
  height: 5.2rem;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vacancy__icon {
  width: 2.8rem;
  height: 2.8rem;
}

.vacancy__text p {
  margin-bottom: 0.5rem;
}
.vacancy__text p:last-child {
  margin-bottom: 0;
}

.advantages {
  padding-bottom: 4.5rem;
}
@media screen and (max-width: 768px) {
  .advantages {
    padding-bottom: 3rem;
  }
}

.advatages__headline {
  margin-bottom: 2.75rem;
}
@media screen and (max-width: 768px) {
  .advatages__headline {
    margin-bottom: 2.5rem;
  }
}

.advatages__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.7rem;
  row-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .advatages__text-content {
    margin-bottom: 2rem;
  }
}

.advantages__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 30px);
          flex: 1 1 calc(50% - 30px);
  min-width: 19rem;
}
.advantages__text p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .advantages__text p {
    margin-bottom: 0.75rem;
  }
}
.advantages__text p:last-child {
  margin-bottom: 0;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin-bottom: 3.9rem;
}
@media screen and (max-width: 768px) {
  .advantages__list {
    margin-bottom: 2.5rem;
  }
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.3333333333% - 3rem);
          flex: 1 1 calc(33.3333333333% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__block {
  position: relative;
  max-width: 19.3rem;
  min-width: 14.5rem;
  width: 100%;
  background: #F5F6F8;
  padding: 1.25rem 2.1rem 2rem;
}

.advantage__block::before {
  content: "";
  display: block;
  width: 1.35rem;
  height: 1.05rem;
  position: absolute;
  top: 0;
  left: 2.1rem;
  background: url(./svg/triangle-shrinked.svg) center center no-repeat;
  background-size: contain;
  z-index: 100;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.advantage__title {
  font-size: 3.2rem;
  font-variant-numeric: normal;
  margin-bottom: 1.1rem;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.5rem;
}

.advantages__inner-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27.5rem;
          flex: 1 1 27.5rem;
}

.advantages__description {
  font-size: 1.6rem;
  font-weight: 700;
}

.advantages__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .advantages__inner-list {
    row-gap: 0.75rem;
  }
}

.advantages__inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
}

.advantages__inner-item::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  content: "1";
  width: 2rem;
  height: 2rem;
  color: white;
  background: #AD001B;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  font-family: "roboto", helvetica, sans-serif;
  font-weight: 400;
}

.advantages__inner-item:nth-child(2)::before {
  content: "2";
}

.advantages__inner-item:nth-child(3)::before {
  content: "3";
}

.advantages__inner-slogan {
  font-size: 1.2rem;
  font-weight: 700;
  color: #AD001B;
}

.benefits {
  padding-top: 4.5rem;
  padding-bottom: 6rem;
  background: #F5F6F8;
}
@media screen and (max-width: 768px) {
  .benefits {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.benefits__head-block {
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits__head-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
}

.benefits__img {
  line-height: 0;
  max-width: 24.5rem;
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}
@media screen and (max-width: 992px) {
  .benefits__img {
    bottom: 0;
    top: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .benefits__img {
    position: static;
  }
}

.benefits__pic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.benefits__headline {
  margin-bottom: 3.9rem;
  max-width: 37.9rem;
  width: 65%;
}
@media screen and (max-width: 768px) {
  .benefits__headline {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.benefits__title {
  max-width: 25.3rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .benefits__title {
    max-width: 100%;
  }
}

.benefits__subtitle {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .benefits__subtitle {
    font-size: 1.1rem;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.3333333333% - 3rem);
          flex: 1 1 calc(33.3333333333% - 3rem);
  min-width: 18rem;
}

.benefit {
  background: white;
  padding: 1.5rem;
}

.benefit__title {
  font-size: 1.6rem;
  line-height: 1.3;
}

.benefit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit__item {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1.7rem;
  border-bottom: 1px solid #DDDEE1;
  position: relative;
}

.benefit__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.95rem;
  height: 0.65rem;
  background: url(./svg/checkmark.svg) center center no-repeat;
  background-size: contain;
  top: 0.9rem;
  left: 0;
}

.benefit__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.resume__title {
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .resume__title {
    margin-bottom: 2.5rem;
  }
}

.resume__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .resume__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.resume__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 1.5rem);
          flex: 1 1 calc(25% - 1.5rem);
  min-width: 11.5rem;
  padding-top: 2.3rem;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.option::before {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1.35rem;
  background: url(./svg/pin-vertical-grey.svg);
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 100;
}

.option:first-child::before {
  background: url(../svg/pin-vertical-red.svg);
  background-size: cover;
}

.option__border {
  left: 0;
  top: 0.65rem;
  width: 100%;
  height: 1px;
  position: absolute;
  background: #DDDEE1;
}

.option__bg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: #F5F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9rem;
}

.option__img {
  width: 2.55rem;
  height: 2.55rem;
}

.option__text {
  margin-bottom: 0.8rem;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media screen and (max-width: 480px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.5rem);
          flex: 1 1 calc(50% - 1.5rem);
}

.contacts__headline {
  margin-bottom: 1.9rem;
}

.contacts__title {
  margin-bottom: 1.9rem;
}
@media screen and (max-width: 768px) {
  .contacts__title {
    margin-bottom: 1.75rem;
  }
}

.contacts__subtitle {
  font-size: 1rem;
  max-width: 19.2rem;
}
@media screen and (max-width: 768px) {
  .contacts__subtitle {
    max-width: 100%;
    font-size: 1.1rem;
  }
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.contacts__block:last-child {
  padding-top: 2.4rem;
}
@media screen and (max-width: 992px) {
  .contacts__block:last-child {
    padding-top: 0;
  }
}

.social {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.social__img {
  width: 3rem;
  height: 3rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.15rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media screen and (max-width: 480px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.5rem);
          flex: 1 1 calc(50% - 1.5rem);
  min-width: 10.7rem;
}

.form__input {
  background: #F5F6F8;
  border: 1px solid transparent;
  padding: 0.7rem 0.85rem;
  border-bottom: 1px solid black;
  color: black;
}

.form__input::-webkit-input-placeholder {
  color: #C4C5CC;
}

.form__input::-moz-placeholder {
  color: #C4C5CC;
}

.form__input:-ms-input-placeholder {
  color: #C4C5CC;
}

.form__input::-ms-input-placeholder {
  color: #C4C5CC;
}

.form__input::placeholder {
  color: #C4C5CC;
}

.form__input:focus {
  border: 1px solid black;
  background: white;
  outline: none;
}

.form__input--comment {
  min-height: 13.35rem;
}

.checkbox-input {
  display: none;
}

.checkbox__visible-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9rem;
     -moz-column-gap: 0.9rem;
          column-gap: 0.9rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__button {
  width: 1.5rem;
  height: 1.5rem;
  background: #AD001B;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.checkbox__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 0.8rem;
  background: url(./svg/checkmark-white.svg) center center no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
}

.checkbox-input:checked + .checkbox__visible-elem .checkbox__button::after {
  opacity: 1;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.footer__container {
  width: 100%;
}

.footer__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: 3.9rem;
}
@media screen and (max-width: 992px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__content {
    row-gap: 2rem;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 1.5rem);
          flex: 1 1 calc(50% - 1.5rem);
}

.footer__map-img {
  width: 100%;
  min-height: 23.5rem;
}

.footer__column:nth-child(1) .footer__map-img {
  background: url(./images/map1.png) center center no-repeat;
  background-size: cover;
}

.footer__column:nth-child(2) .footer__map-img {
  background: url(./images/map2.png) center center no-repeat;
  background-size: cover;
}

.footer__address {
  max-width: calc(609px - 0.75rem);
}
@media screen and (max-width: 992px) {
  .footer__address {
    max-width: 100%;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer__address--left {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 10px;
}
@media screen and (max-width: 992px) {
  .footer__address--left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.footer__address--right {
  padding-right: 10px;
}

.footer__copyright {
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 400px;
  }
}

.address__title {
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 16.9rem;
  margin-bottom: 1.05rem;
}
@media screen and (max-width: 992px) {
  .address__title {
    max-width: 100%;
    margin-bottom: 0.75rem;
  }
}

.address__description {
  min-height: 3.5rem;
}
@media screen and (max-width: 992px) {
  .address__description {
    min-height: 0;
  }
}

.hamburger-menu {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  color: black;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger-menu__img {
  width: 100%;
  height: 100%;
}

.hamburger-menu__img.hidden {
  display: none;
}

.arrow-up {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  line-height: 0;
  z-index: 200;
}
@media screen and (max-width: 768px) {
  .arrow-up {
    bottom: 2rem;
    right: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .arrow-up {
    right: 1.5rem;
  }
}

.arrow-up__img {
  width: 40px;
  height: 40px;
  color: #AD001B;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.arrow-up__img:hover {
  color: #920016;
}
@media screen and (max-width: 768px) {
  .arrow-up__img:hover {
    color: #AD001B;
  }
}

.hidden-menu {
  width: 0;
  height: 0;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .hidden-menu {
    padding: 1.25rem 0.5rem;
    padding-bottom: 0;
    width: 100%;
  }
}

.hidden-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .hidden-menu__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.hidden-menu__block .menu {
  margin-right: 1rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.hidden-menu__block .menu__list {
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.hidden-menu__block .menu__item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.hidden-menu__block .button {
  padding: 0.75rem 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}